html, body { height: 100%; }

body {
	background:
		-webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
		-webkit-linear-gradient(-117deg, #151515 5px, transparent 5px) 10px 0px,
		-webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
		-webkit-linear-gradient(-117deg, #222 5px, transparent 5px) 10px 5px,
		-webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
		-webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

.container-fluid {
	height: 100%;
}

.row-fluid {
	height: 100%;
}

.bros {
  display: inline-block;
  margin-right: 10px;
}

.image {
	background-color: white;
	height: 100%;
}

.target {
	padding: 20px 0;
}

.description {
	background-color: (@whiteSmoke);
	height: 100%;
}

div.konami-bro {
  display: none;
}

